/* This was updated by Jeff on 3/6/2016   */
/* Last updated 1/21/2017 Changed the margin left/right for button. */

/*This style sheet is for all of the things specific for LarpPortal. If you want to override something, put it in here.

Make sure this is the last CSS in the include list. If not some of these items may get overwritten.*/

.StandardButton,
.CancelButton {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100px;
}

.StandardButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #093760);
    background-image: -moz-linear-gradient(top, #3498db, #093760);
    background-image: -ms-linear-gradient(top, #3498db, #093760);
    background-image: -o-linear-gradient(top, #3498db, #093760);
    background-image: linear-gradient(to bottom, #3498db, #093760);
}

    .StandardButton:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    }


.CancelButton {
    background-color: #f62b2b;
    background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
    background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
    background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
    background-image: -o-linear-gradient(top, #f62b2b, #d20202);
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);
}

    .CancelButton:hover,
    .CancelButton:focus {
        background-color: #e40a0a;
        background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
        background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
        background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
        background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
    }

.PrePostPadding {
    padding-bottom: 2px;
    padding-top: 2px;
}

.NoRightPadding {
    padding-right: 0px;
}

.NoLeftPadding {
    padding-left: 0px;
}

.NoPadding {
    padding: 0px 0px 0px 0px;
}

/*[disabled] {   -- Text and background colour, medium red on light yellow
    color: #933;
    background-color: #ffc;
}*/


[disabled] {
    background-color: #f0f0ef;
}

.control-label {
    text-align: right;
}

.WithBorder {
    border: 1px solid black;
}

div {
    border: 0px solid black;
}


.TableLabel {
    font-weight: bold;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.LeftRightPadding {
    padding-left: 10px;
    padding-right: 10px;
}

.ReadOnly {
    border-width: 0px 0px 0px 0px;
    border-color: transparent;
    border-style: none;
    background-color: lightgray;
    color: darkgray;
}


input[type="checkbox"],
input[type="radio"] {
    padding: 0px;
    height: 12px;
    width: 12px;
    margin: 5px 0px 0px 0px;
}

/*.CheckBoxList {
    display: inline-block;
    vertical-align: middle;
}

    .CheckBoxList label {
        margin-bottom: 0px;
        font-size: 10pt;
        font-weight: 400 !important;
    }*/

.TextBox {
    border: 1px solid black;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #093760;
    color: white;
    min-height: 16.42857px;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857;
}

.modal-body {
    position: relative;
    background: white;
    padding: 15px;
}

.plain-panel {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.plain-panel-body {
    padding: 15px;
}

    .plain-panel-body:before, .plain-panel-body:after {
        content: " ";
        display: table;
    }

    .plain-panel-body:after {
        clear: both;
    }

.plain-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

    .plain-panel-heading > .dropdown .dropdown-toggle {
        color: inherit;
    }

.plain-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

    .plain-panel-title > a {
        color: inherit;
    }

.plain-panel-footer {
    padding: 10px 15px;
    background-color: whitesmoke;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}





















/********************************************************************/















.plain-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.plain-panel-body {
    padding: 15px;
}

    .plain-panel-body:before, .plain-panel-body:after {
        content: " ";
        display: table;
    }

    .plain-panel-body:after {
        clear: both;
    }

.plain-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

    .plain-panel-heading > .dropdown .dropdown-toggle {
        color: inherit;
    }

.plain-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

    .plain-panel-title > a {
        color: inherit;
    }

.plain-panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.plain-panel > .list-group {
    margin-bottom: 0;
}

    .plain-panel > .list-group .list-group-item {
        border-width: 1px 0;
        border-radius: 0;
    }

    .plain-panel > .list-group:first-child .list-group-item:first-child {
        border-top: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .plain-panel > .list-group:last-child .list-group-item:last-child {
        border-bottom: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

.plain-panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

/*.panel > .table,
.panel > .table-responsive > .table {
  margin-bottom: 0; }
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
  .panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px; }
  .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
  .panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px; }
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }
  .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
  .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px; }
  .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
  .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px; }
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #ddd; }
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0; }
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0; }
  .panel > .table-bordered > thead > tr > th:first-child,
  .panel > .table-bordered > thead > tr > td:first-child,
  .panel > .table-bordered > tbody > tr > th:first-child,
  .panel > .table-bordered > tbody > tr > td:first-child,
  .panel > .table-bordered > tfoot > tr > th:first-child,
  .panel > .table-bordered > tfoot > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }
  .panel > .table-bordered > thead > tr > th:last-child,
  .panel > .table-bordered > thead > tr > td:last-child,
  .panel > .table-bordered > tbody > tr > th:last-child,
  .panel > .table-bordered > tbody > tr > td:last-child,
  .panel > .table-bordered > tfoot > tr > th:last-child,
  .panel > .table-bordered > tfoot > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }
  .panel > .table-bordered > thead > tr:first-child > td,
  .panel > .table-bordered > thead > tr:first-child > th,
  .panel > .table-bordered > tbody > tr:first-child > td,
  .panel > .table-bordered > tbody > tr:first-child > th,
  .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
  .panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
  .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
  .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0; }
  .panel > .table-bordered > tbody > tr:last-child > td,
  .panel > .table-bordered > tbody > tr:last-child > th,
  .panel > .table-bordered > tfoot > tr:last-child > td,
  .panel > .table-bordered > tfoot > tr:last-child > th,
  .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
  .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0; }
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0; }*/




.plain-panel {
    background-color: #093760;
    margin-bottom: 0;
}

    .plain-panel h2, .plain-panel h3, .plain-panel h4, .plain-panel a {
        font-size: 14px;
        margin: 10px 0 10px 0;
        padding-bottom: 0;
        padding-left: 10px;
        color: white;
    }

    .plain-panel .plain-panel-header {
        color: white;
    }

    .plain-panel table {
        margin-top: 0;
    }

    .plain-panel input {
        height: 20px;
        padding: 0;
    }

        .plain-panel input[type="checkbox"] {
            margin: 3px 3px 3px 3px;
        }

.plain-panel-body {
    padding: 0;
    font-size: 12px;
}

    .plain-panel-body .plain-panel-container, .plain-panel-body .plain-panel-container-table {
        background-color: white;
        min-height: 30px;
        height: 100%;
        margin-bottom: 0;
    }

    .plain-panel-body .plain-panel-container {
        padding: 10px 15px 0px;
    }

    .plain-panel-body .plain-panel-conatiner-table {
        padding: 0;
    }

    .plain-panel-body h3, .plain-panel-body a {
        color: black;
    }

    .plain-panel-body ul {
        list-style: none;
        padding: 0;
    }

.plain-panel-wrapper {
    margin-top: 20px;
}

.TableTextBox {
    border: 1px solid black;
}

/*th, tr:nth-child(even) > td {
    background-color: #ffffff;
}*/

.CharInfoTable {
    border-collapse: collapse;
}

    .CharInfoTable td {
        padding: 4px;
    }

.LinkUnderline {
    color: blue;
    text-decoration: underline !important;
}

.tooltip.in {
    opacity: 1.0;
}





.btn.btn-danger {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    color: #ffffff;
    background-color: #D9534F;
    background-image: linear-gradient(to bottom, #fa5555, #C12E2A);
    border-color: #B92C28 #B92C28 #B92C28;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100px;
    min-height: 20px;
    margin: 0px 10px 0px 10px;
    padding: 1px 0px 1px 0px;
}

.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #a00000;
    background-image: linear-gradient(to bottom, #a00000, #a00000);
    border-color: #000000 #000000 #000000;
}


.NoGutters {
    padding-left: 0px;
    padding-right: 0px;
}
